<div class="contact">
  <div id="leftside">
      <h1>Regulamin</h1>
  </div>
  <div class="rightside">
    <p>
      Sport to strona z humorem. Podczas przesyłania memów lub korzystania z witryny w jakikolwiek sposób
      należy
      pamiętać,
      że obraźliwe, lekceważące, wulgarne i seksualne treści oraz zachowania są zabronione.
    </p>
    <p>Zabrania się zamieszczania postów o charakterystyce:</p>
    <ul>
      <li>Aktów, pornografii oraz materiałów o jednoznacznie seksualnym charakterze.
      </li>
      <li>Przemocy, nękania i zastraszania.</li>
      <li>Mowy nienawiści i obelg.</li>
      <li>Naruszającej prawa autorskie.</li>
      <li>Udostępniającej dane osobiste oraz poufne.</li>
      <li>Dublującej aktualne materiały.</li>
    </ul>
  </div>
</div>