<div class="contact">
    <div class="leftside">
        <h1>O stronie</h1>
        <img src="assets/face.png">
        <img src="assets/insta2.png">
        <img src="assets/twitter.png">
    </div>
    <div class="rightside">
        <p>Aplikacja internetowa została utworzona w celach projektowych związanych ze studiami. Autorem
            aplikacji jest Bartlomiej Lewandowski. Umożliwia ona dodawania postów wraz ze zdjęciamia przez zalogowanych
            użytkowników oraz przeglądanie ich oraz wyszukiwanie.
        </p>
    </div>
</div>